[workspace]
authors = ["cyxmon <me@yh.zone>"]
channels = ["conda-forge"]
name = "ScoreCR"
platforms = ["osx-arm64", "win-64"]
version = "0.1.0"

[dependencies]
python = ">=3.13.3,<3.14"
opencv = ">=4.11.0,<5"
numpy = ">=2.2.5,<3"
pandas = ">=2.2.3,<3"
scipy = ">=1.15.2,<2"
ffmpeg-python = ">=0.2.0,<0.3"
ipykernel = ">=7.1.0,<8"
plotly = ">=6.5.0,<7"
nbformat = ">=5.10.4,<6"
